docker.enabled = true

manifest {
    contributors = [    
        [
            name : "Dominik Lux",
            affiliation : "Ruhr University Bochum, Medical Proteome Center, Medical Bioinformatics",
            email : "dominik.lux@rub.de",
            contribution : ["author", "maintainer"],
            orcid : "0000-0002-7490-8260"
        ],
    ]

    defaultBranch = "main"
    description = "A simple XIC-Extractor from RAW-Spectra files for MS1 and MS2 data"
    homePage = "https://github.com/mpc-bioinformatics/xic-extractor"
    license = "three-clause BSD"
    mainScript = "main.nf"
    name = "XIC-Extractor"
    
    gitmodules = false
    recurseSubmodules = false

    version = "1.0"
}

profiles {
    standard {
        // Default profile
        process {
            withLabel: xic_extractor {
                container = "luxii/xic-extractor:${manifest.version}"
            }
        }
    }

    latest {
        process {
            withLabel: xic_extractor {
                container = "luxii/xic-extractor:latest"
            }
        }   
    }

    developer {
        // profile for development
        process {
            withLabel: xic_extractor {
                container = "luxii/xic-extractor:latest"
            }
        }
    }
}